.grid{
    margin-top: 1rem;
    display: grid;
    justify-content: center;
}

.vis-btn{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.legend-and-instruction{
    display: block;
}
